__pycache__
*.pyc
*.log
.env
.env-communication-service
test_scripts
certs/ca.crt
certs/server.crt
certs/server.key
certs/ca.key
certs/ca.srl
certs/server.csr
certs/worked_ones
mosquitto/config/working_conf
woked_local_envs_docker_yml
woked_rpi_envs_docker_yml
