__pycache__
*.pyc
*.log
.env
.env-communication-service
test_scripts
env-raspberry
env-local
env-communication-service-local
env-communication-service-raspberry
certs/ca.crt
certs/server.crt
certs/server.key
certs/ca.key
certs/ca.srl
certs/server.csr
certs/worked_ones
mosquitto/config/working_conf
worked_envs
