BROKER_HOST=
BROKER_PORT=
CRYPTOGRAPHY_KEY==

CONTROLLER_RAW_DATA_TO_COM_SERVICE=
COM_SERVICE_RAW_DATA_TO_EVENT_HANDLER=
EVENT_HANDLER_INSTRUCTION_TO_COM_SERVICE=
COM_SERVICE_INSTRUCTIONS_TO_CONTROLLER=

LOCAL_API_TO_COM_SERVICE=

TOKEN=
GLOBAL_SERVER_RAW_DATA_ROUTE=
GLOBAL_SERVER_SENSORS_ROUTE=

LOCAL_SERVER_CONTROLLERS_CONFIGURATIONS=
LOCAL_SERVER_AUTOMATION_RULES=

CONTROLLER_MQTT_USER=
CONTROLLER_MQTT_PASSWORD=

COM_MQTT_USER=
COM_MQTT_PASSWORD=

EH_MQTT_USER=
EH_MQTT_PASSWORD=

API_MQTT_USER=
API_MQTT_PASSWORD=
