API_ENV=production
# API_ENV=env

API_PORT=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

BROKER_HOST=
BROKER_PORT=
# BROKER_PORT=

CTRL_CONF_UPDATE=ctrl/{}/configs/update
API_OBJ_DELETE=api/objDelete/

API_MQTT_USER=
API_MQTT_PASSWORD=

TOKEN=
